#coverPage {
  background: url("./assets/bg.png");
  background-size: 1470px 780px;
}

#mainBoxFlex {
  display: flex;
  margin-top: 170px;
  margin-left: 200px;
}

#profileImage {
  border-radius: 200px;
  border-width: 0;
  height: 360px;
  width: 360px;
}

#profileText {
  margin-left: 180px;
  /* margin-top: 150000px; */
  font-family: "Barlow", sans-serif;
  position: relative;
  animation: button 4s ease-out 0s 1 forwards;
}

@keyframes button {
  from {
    color: rgba(0, 0, 0, 0);
  }
  to {
    color: #201e1f;
  }
}

#name {
  font-size: 50px;
  text-align: center;
  margin-top: 100px;
}

#tagLine {
  font-size: 30px;
  margin-top: 20px;
}

#explore {
  width: 150px;
  height: 40px;
  border: 2px solid #50b2c0;
  font-family: "Barlow", sans-serif;
  background-color: #50b1c000;
  color: #50b2c0;
  font-size: 20px;
  margin-top: 30px;
  animation: btn 2s ease-out 0s 1 forwards;
}

#explore:hover {
  border: 3px solid #50b2c0;
  cursor: pointer;
  font-weight: bold;
  background-color: rgba(240, 234, 234, 0.365);
}

#explore:focus {
  outline: none;
}

@keyframes btn {
  from {
    margin-top: 100px;
  }
  to {
    margin-top: 30px;
  }
}

#btnFlex {
  text-align: center;
}

